{{ define "common-header" }}
<!-- <header class="navbar navbar-expand-lg d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4">
    <div class="d-flex justify-content-start">
        <a href="/" class="col-md-auto me-2 mb-md-0 text-dark text-decoration-none">
            <img src="/assets/image/favicon/logo.png" alt="Bootstrap" class="bi" width="30" height="30">
        </a>
        
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-md-auto mb-2 align-items-center mb-md-0">
                <li class="nav-item"><a class="nav-link px-2" href="/">首页</a></li>
                <li class="nav-item"><a class="nav-link px-2" href="/video/list">电影</a></li>
                <li class="nav-item"><a class="nav-link px-2" href="/video/actress">演员</a></li>
                <li class="nav-item"><a class="nav-link px-2 disabled" href="/video/play">播放器</a></li>
            </ul>
        </div>    
    </div>

    <div class="d-flex justify-content-end">
        <form id="searchForm" action="/video/search" class="col-md-auto me-2" role="search">
            <div class="input-group">
                <input type="search" style="max-width: 150px;" name="query" class="form-control collapse collapse-horizontal" id="search" placeholder="Search..." aria-label="Search">
                <span class="input-group-text" onclick="searchCollapse(this)"><i class="bi bi-search"></i></span>
            </div>
        </form>

        <div id="login" class="col-md-auto text-end collapse" >
            <a href="/user/login" class="btn btn-outline-primary">登录</a>
        </div>

        <div id="settings" class="col-md-auto dropdown text-end collapse">
            <a href="javascript:void(0)" class="link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/image/avatar/avatar.png" id="userAvatar" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
                <li><a href="/user/account" class="dropdown-item">账号设置</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="javascript:void(0)" class="dropdown-item" onclick="logout()">退出登录</a></li>
            </ul>
            <a href="javascript:void(0)" class="link-dark text-decoration-none">
                <img src="/assets/image/icon/sun-fill.svg" alt="mdo" id="setBackgroundColor" onclick="setBackground(this)" width="32" height="32" style="color: cornflowerblue;">
            </a>
        </div>
    </div>
</header> -->

<header class="py-3 mb-3">
    <div class="container d-grid gap-1 align-items-center" style="grid-template-columns: 1fr 2fr;padding-left: 0px;padding-right: 0px;">
        <div class="navbar navbar-expand-lg">        
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="navbarNav" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item"><a class="nav-link px-2" href="/">首页</a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="/video/list">电影</a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="/video/actress">演员</a></li>
                        <li class="nav-item"><a class="nav-link px-2 disabled" href="/video/play">播放器</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <form id="searchForm" action="/video/search" class="w-50 me-2" role="search">
                <div class="input-group">
                    <input type="search" name="query" class="form-control" id="search" placeholder="Search..." aria-label="Search">
                </div>
            </form>

            <div class="text-end collapse" id="login">
                <a href="/user/login" class="btn btn-outline-primary me-2">登录</a>
            </div>

            <div class="dropdown text-end collapse" id="settings">
                <a href="javascript:void(0)" id="geneteAvatar" class="link-dark text-decoration-none dropdown-toggle me-3" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/assets/image/avatar/avatar.png" id="userAvatar" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a href="/user/account" class="dropdown-item">账号设置</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="javascript:void(0)" class="dropdown-item" onclick="logout()">退出登录</a></li>
                </ul>
                <a href="javascript:void(0)" class="link-dark text-decoration-none">
                    <img src="/assets/image/icon/sun-fill.svg" alt="mdo" id="setBackgroundColor" onclick="setBackground(this)" width="32" height="32" style="color: cornflowerblue;">
                </a>
            </div>
        </div>
    </div>
</header>
{{ end }}