<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.title}}</title>
	<link href="assets/image/favicon/video/favicon.ico" rel="shortcut icon">
	<link href="assets/app/css/bootstrap-5.3.0.min.css" rel="stylesheet">
	<style>
		html,
		body {
			height: 100%;
		}

		body {
			display: flex;
			align-items: center;
			background-image: url('assets/image/bizhi/bg-bs.jpeg');
			background-size: 100% 100%;
			background-position: center;
		}
	
		.container-fluid {
			display: flex;
			justify-content: center;
		}

		.card {
			border: none;
			/* 这里的0.5 是透明度值，可以根据需要调整 */
			background-color: rgba(255, 255, 255, 0.1);
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="card">
			<div id="videoContainer" class="card-img-top"></div>
			<div class="card-body">
				<h5 class="card-title">{{ .videoTitle }}</h5>
				<p class="card-text">{{ .videoActress }}</p>
				<p class="card-text d-flex justify-content-center">
					<span class="fs-4">播放器：</span>
					<img onclick="loadPlayer('xgplayer')" src="assets/image/logo/xgplayer.jpg" alt="xgplayer" width="40" height="40" class="rounded-circle me-2">
					<img onclick="loadPlayer('ckplayer')" src="assets/image/logo/ckplayer.png" alt="ckplayer" width="40" height="40" class="rounded-circle me-2">
				</p>
			</div>
		</div>
	</div>

	<script>
		let videoUrl = '{{ .videoUrl }}';
		// videoUrl = 'assets/video/lc.mp4';
		let storage = Object;
		if (!window.localStorage) {
			alert('浏览器不支持localStorage')
		} else {
			storage = window.localStorage;
		}

		loadPlayer('');

		function loadPlayer(playerType) {
			remove();

			var player = storage.getItem("player");
			if (playerType == '' && player == '') {
				playerType = 'xgplayer';
			} else if (playerType == '' && player != '') {
				playerType = player;
			}
			
			var div = document.createElement("div");
			div.setAttribute("id", "videoPlayer");
			var classList = ["img-fluid"];
			if (playerType == "ckplayer") {
				classList.push("ratio", "ratio-16x9");
				div.setAttribute("width", "600");
				div.setAttribute("height", "337.5");
			}
			div.classList.add(...classList);
			document.getElementById("videoContainer").appendChild(div);

			if (playerType == "ckplayer") {
				loadCSS("assets/player/ckplayer-x3/css/ckplayer.css");
				loadJavaScript("assets/player/ckplayer-x3/js/ckplayer.js", loadCkplayer);
			} else {
				loadCSS("assets/player/xgplayer-3.0.10/index.min.css");
				loadJavaScript("assets/player/xgplayer-3.0.10/index.min.js", loadXgplayer);
			}
			storage.setItem("player", playerType);
		}

		function remove() {
			var videoPlayer = document.getElementById("videoPlayer");
			if (videoPlayer) {
				document.getElementById("videoContainer").removeChild(videoPlayer);
			}
			var ckplayerMenu = document.getElementsByClassName("ckplayer-ckplayer-menu")[0];
			if (ckplayerMenu) {
				ckplayerMenu.parentNode.removeChild(ckplayerMenu);
			}

			var links = document.getElementsByTagName("link");
			if (links.length > 0) {
				for (let index = 0; index < links.length; index++) {
					const element = links[index];
					var video = element.getAttribute("video");
					if (video == "css") {
						element.remove();
					}
				}
			}
			var scripts = document.getElementsByTagName("script");
			if (scripts.length > 0) {
				for (let index = 0; index < scripts.length; index++) {
					const element = scripts[index];
					var video = element.getAttribute("video");
					if (video == "js") {
						element.remove();
					}
				}
			}
		}

		// 动态加载CSS文件
		function loadCSS(href) {
			var link = document.createElement("link");
			link.rel = "stylesheet";
			link.type = "text/css";
			link.href = href;
			link.setAttribute("video", "css");
			document.getElementsByTagName("head")[0].appendChild(link);
		}

		// 动态加载JavaScript文件
		function loadJavaScript(url, callback) {
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = url;
			script.setAttribute("video", "js");
			document.getElementsByTagName("head")[0].appendChild(script);
			script.onload = function () {
				callback();
			};
		}

		function loadXgplayer() {
			if (typeof Player !== "undefined") {
				let player = new Player({
					id: 'videoPlayer',
					autoplay: true, // 是否自动播放
					volume: 0.6, // 默认音量, 取值范围0 ~ 1
					loop: true, // 是否循环播放
					url: videoUrl,
					// poster: '',
					lang: 'zh-cn', // 播放器初始显示语言
					startTime: storage.getItem(videoUrl), // 初始起播时间，仅点播
					fitVideoSize: 'auto', // 初始起播时间，仅点播
					seekedStatus: 'auto', // seek操作结束之后播放器的状态，如果取值为auto，则维持原播放状态, 默认是seek之后直接播放
					pip: true, // 是否使用画中画插件
					rotate: true,// 是否使用旋转插件
					screenShot: true, //显示截图按钮
					videoAttributes: {
						crossOrigin: 'anonymous'
					},
					playbackRate: [0.5, 0.75, 1, 1.5, 2, 3, 4],
					defaultPlaybackRate: 1.0,
					width: 'auto',
					hight: 'auto',
				});
				const Events = window.Player.Events;
				player.on(Events.TIME_UPDATE, (data) => {
					storage.setItem(videoUrl, data.currentTime);
				});
			}
		}

		function loadCkplayer() {
			var videoObject = {
				container: '#videoPlayer', // 视频容器
				volume: 0.6, // 默认音量，范围0-1
				// poster: 'assets/ckplayer-x3/video/poster.png',// 封面图片
				autoplay: true, // 是否自动播放
				loop: true, // 是否需要循环播放
				seek: 'cookie', // 指定跳转到cookie记录的时间，使用该属性必需配置属性cookie
				cookie: 'video', // cookie名称,请在同一域中保持唯一
				video: videoUrl, // 视频地址
				webFull: true, // 是否启用页面全屏按钮，默认不启用
				screenshot: true, // 截图功能是否开启
				crossOrigin:'anonymous',//发送跨域字符
				// logo: 'assets/image/favicon/video/favicon-32x32.png',
				title: '{{ .videoActress }}',// 视频标题
				playbackrateOpen: true, // 是否开启控制栏倍速选项
				playbackrateList: [0.75, 1, 1.25, 1.5, 2, 4], // 倍速配置值 
			};
			var player = new ckplayer(videoObject)//调用播放器并赋值给变量player
			player.screenshot()//截图并返回图片地址
		}
	</script>
</body>

</html>