<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.title}}</title>
	<link href="assets/image/favicon/video/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="assets/bootstrap-5.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.byted-static.com/xgplayer/3.0.10/dist/index.min.css">
</head>
<body>
	
<style>
	.container-fluid {
		display: flex;
    	place-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		overflow: hidden;
	}
	#videoPlayer {
		position: relative;
		padding-bottom: 56.25%; 
		overflow: hidden;
	}
</style>
<div class="container-fluid">
	<div id="videoPlayer"></div>
</div>

<script src="assets/bootstrap-5.3.0/js/bootstrap.bundle.min.js" charset="utf-8"></script>
<script src="https://unpkg.byted-static.com/xgplayer/3.0.10/dist/index.min.js" charset="utf-8"></script>
<script type="text/javascript">
	let storage = Object
	let videoUrl = '{{ .videoUrl }}'
	if(!window.localStorage){
		alert('浏览器不支持localStorage')
	}else{
		storage = window.localStorage;
	}

	let player = new Player({
		id: 'videoPlayer',
		autoplay: true,
		volume: 0.6,
		loop: true,
		url: videoUrl,
		// poster: "https://lf3-static.bytednsdoc.com/obj/eden-cn/nupenuvpxnuvo/xgplayer_doc/poster.jpg",
		playsinline: true,
		lang: 'zh-cn',
		startTime: storage.getItem(videoUrl),
		// fluid: true,
		// fitVideoSize: 'auto',
		// seekedStatus: 'auto',
		miniprogress: true,
		screenShot: true, //显示截图按钮
  		videoAttributes: {
    		crossOrigin: 'anonymous'
  		},
		rotate: true,//是否使用旋转插件
		pip: true, //显示切换按钮
		mini: true, //开启小窗插件
		playbackRate: [0.5, 0.75, 1, 1.5, 2, 3, 4],
		defaultPlaybackRate: 1.0,
		// height: window.innerHeight,
        // width: window.innerWidth,
	});
	const Events = window.Player.Events
	player.on(Events.TIME_UPDATE, (data) => {
		storage.setItem(videoUrl,data.currentTime)
	})
</script>

</body>
</html>
