/* 全局样式 */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

h3 {
    margin-top: 30px
}

.video-list {
    margin-top: 30px; /* 负外边距用于抵消卡片顶部的内边距 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-item {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 卡片样式 */
.card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.card-body {
    padding: 20px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.card-title {
    height: 90px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card-text {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.3s ease;
}

/* 按钮样式 */
.watch-video {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

/* 悬停效果 */
.video-item:hover {
    transform: scale(1.02); /* 放大效果 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    opacity: 1;
    color: #000000;
    background-color: #d4d2d2;
}
.card-body:hover  {
    background-color: #b4b3b3;
}
.watch-video:hover {
    background-color: #144880;
}

/* 响应式样式 */
@media (min-width: 1000px) {
    .video-item {
        width: calc(25% - 10px);
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* 分页样式 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-top: 20px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;

}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}